<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        My Profile
    </title>
    <!-- Favicon -->
    <link href="/img/brand/favicon.png" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
    <link href="/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="/css/argon-dashboard.css?v=1.1.2" rel="stylesheet" />

    <script src="/js/common.js"></script>
</head>

<body class="">
<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Brand -->
        <a class="navbar-brand pt-0" href="../index.html">
            <!--            <img src="/img/brand/blue.png" class="navbar-brand-img" alt="...">-->
        </a>
        <!-- User -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="./doctor-dashboard">
                    <i class="ni ni-tv-2 text-primary"></i>Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./doctor-profile">
                    <i class="ni ni-tv-2 text-blue"></i>My Profile
                </a>
            </li>
        </ul>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Collapse header -->
            <div class="navbar-collapse-header d-md-none">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="../index.html">
                            <!--                            <img src="/img/brand/blue.png">-->
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Form -->
            <form class="mt-4 mb-3 d-md-none">
                <div class="input-group input-group-rounded input-group-merge">
                    <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="fa fa-search"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>
<div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="../index.html">My Profile</a>
            <!-- Form -->
            <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
                <div class="form-group mb-0">
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                        <input class="form-control" placeholder="Search" type="text">
                    </div>
                </div>
            </form>
            <!-- User -->
            <ul class="navbar-nav align-items-center d-none d-md-flex">
                <li class="nav-item dropdown">
                    <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
<!--                  <img alt="Image placeholder" src="/img/theme/team-2-800x800.jpg">-->
                </span>
                            <div class="media-body ml-2 d-none d-lg-block">
                                <span class="fullName  mb-0 text-sm  font-weight-bold"> Jones</span>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                        <a onclick="logout()" class="dropdown-item">
                            <i class="ni ni-user-run"></i>
                            <span>Logout</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End Navbar -->
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
            <div class="row">
                <div class="col">
                    <h1 class="display-2 text-white">Hello</h1>
                    <!--                    <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>-->
<!--                    <a id="edit-profile-button" class="btn btn-info">Edit profile</a>-->
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                <div class="card card-profile shadow">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <a href="#">
                                    <!--                                    <img src="/img/theme/team-4-800x800.jpg" class="rounded-circle">-->
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0 pt-md-4">
                        <div class="text-center">
                            <h3>
                                Department: Cardiology
                            </h3>
                            <h3>
                                Specialization: Heart Specialist
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 order-xl-1">
                <div class="card bg-secondary shadow">
                    <div class="card bg-secondary shadow">
                        <div class="card bg-secondary shadow">
                            <div class="card-header bg-white border-0">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h3 class="mb-0">Add Medical Status</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <form id="medical-status-form">
                                    <h6 class="heading-small text-muted mb-4">Add Medical Information And Prescription </h6>
                                    <div class="pl-lg-4">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-allergies">Allergies</label>
                                                    <input type="text" id="input-allergies" class="form-control form-control-alternative">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-past-diseases">Past Diseases</label>
                                                    <input type="text" id="input-past-diseases" class="form-control form-control-alternative">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-ongoing-medication">Ongoing Medication</label>
                                                    <input type="text" id="input-ongoing-medication" class="form-control form-control-alternative">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-doctor-notes">Doctor Notes</label>
                                                    <input type="text" id="input-doctor-notes" class="form-control form-control-alternative">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-allergy-type">Allergy Type</label>
                                                    <input type="text" id="input-allergy-type" class="form-control form-control-alternative">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-severity-of-allergy">Severity of Allergy</label>
                                                    <input type="text" id="input-severity-of-allergy" class="form-control form-control-alternative">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-medication-changes">Medication Changes</label>
                                                    <input type="text" id="input-medication-changes" class="form-control form-control-alternative">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-patient-notes">Patient Notes</label>
                                                    <input type="text" id="input-patient-notes" class="form-control form-control-alternative">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-history-status">History Status</label>
                                                    <input type="text" id="input-history-status" class="form-control form-control-alternative">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-active">Active</label>
                                                    <select id="input-active" class="form-control form-control-alternative">
                                                        <option value="1">Yes</option>
                                                        <option value="0">No</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- New Prescription Fields -->
                                        <h6 class="heading-small text-muted mt-4 mb-4">Prescription Information</h6>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-medication">Medication</label>
                                                    <input type="text" id="input-medication" class="form-control form-control-alternative" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-dosage">Dosage</label>
                                                    <input type="text" id="input-dosage" class="form-control form-control-alternative" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-frequency">Frequency</label>
                                                    <input type="text" id="input-frequency" class="form-control form-control-alternative" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-duration">Duration</label>
                                                    <input type="text" id="input-duration" class="form-control form-control-alternative" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-primary">Add Medical Status</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer">
            <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-6">
                    <div class="copyright text-center text-xl-left text-muted">
                        &copy; 2024 <a href="http://localhost:8080/patient-dashboard" class="font-weight-bold ml-1" target="_blank">Well Care</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<!--   Core   -->
<script src="/js/plugins/jquery/dist/jquery.min.js"></script>
<script src="/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!--   Optional JS   -->
<!--   Argon JS   -->
<script src="/js/argon-dashboard.min.js?v=1.1.2"></script>
<script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
<script>
    window.TrackJS &&
    TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "argon-dashboard-free"
    });
</script>

<script>
    // Logout function
    function logout() {
        // Show confirmation alert
        const confirmLogout = confirm("Are you sure you want to logout?");
        if (confirmLogout) {
            // Delete all cookies
            document.cookie.split(";").forEach((cookie) => {
                const eqPos = cookie.indexOf("=");
                const name = eqPos > -1 ? cookie.substring(0, eqPos) : cookie;
                document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT;path=/";
            });

            // Redirect to login page
            window.location.href = "/login";
        }
    }

    // Fetch the first_name, middle_name, and last_name from the cookies
    const firstName = getCookie('first_name') || 'Guest';
    const middleName = getCookie('middle_name') || '';
    const lastName = getCookie('last_name') || '';

    // Format the full name
    const fullName = `${firstName} ${lastName} `.trim();

    // Ensure the dropdown toggles when clicked
    document.addEventListener('DOMContentLoaded', () => {
        const navbarNameElement = document.querySelector('.fullName'); // Target the top-right navbar name
        if (navbarNameElement) {
            navbarNameElement.textContent = fullName;
        }

        const dropdownToggle = document.querySelector('.nav-item.dropdown > .nav-link');
        const dropdownMenu = document.querySelector('.nav-item.dropdown .dropdown-menu');

        if (dropdownToggle && dropdownMenu) {
            // Add click event listener to toggle dropdown visibility
            dropdownToggle.addEventListener('click', (event) => {
                event.preventDefault(); // Prevent default link behavior
                dropdownMenu.classList.toggle('show');
            });

            // Close the dropdown when clicking outside
            document.addEventListener('click', (event) => {
                if (
                    !dropdownToggle.contains(event.target) &&
                    !dropdownMenu.contains(event.target)
                ) {
                    dropdownMenu.classList.remove('show');
                }
            });
        } else {
            console.error('Dropdown toggle or menu element not found in the DOM.');
        }

        const logoutLink = document.querySelector(".dropdown-item[onclick='logout()']");
        if (logoutLink) {
            logoutLink.addEventListener("click", (event) => {
                event.preventDefault(); // Prevent default link behavior
                logout(); // Call the logout function
            });
        } else {
            console.error("Logout link not found in the DOM.");
        }
    });

    document.addEventListener("DOMContentLoaded", async () => {
        // Function to get a specific cookie value by its name
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }

        // Get the patientId from the cookie
        const patientId = getCookie("patientId");
        if (!patientId) {
            console.error("Patient ID not found in cookies.");
            return;
        }

        // API endpoint
        const apiUrl = `/api/medicalhistory/medical-history/${patientId}`;

        try {
            // Fetch medical history records
            const response = await fetch(apiUrl);

            if (!response.ok) {
                throw new Error("Failed to fetch medical history");
            }

            const medicalHistories = await response.json();

            // Select the container where the medical history will be displayed
            const profileContainer = document.querySelector(".card-profile .text-center");

            // If no medical history records are found
            if (medicalHistories.length === 0) {
                profileContainer.innerHTML = `<h3>No medical history records found.</h3>`;
                return;
            }

            // Dynamically generate and display the medical history records
            profileContainer.innerHTML = medicalHistories
                .map(
                    (history) => `
                <div class="medical-history-entry">
                    <h4>History ID: ${history.historyId}</h4>
                    <p><strong>Allergies:</strong> ${history.allergies || "None"}</p>
                    <p><strong>Past Diseases:</strong> ${history.pastDiseases || "None"}</p>
                    <p><strong>Ongoing Medication:</strong> ${history.ongoingMedication || "None"}</p>
                    <p><strong>Allergy Type:</strong> ${history.allergyType || "N/A"}</p>
                    <p><strong>Severity of Allergy:</strong> ${history.severityOfAllergy || "N/A"}</p>
                    <p><strong>Doctor Notes:</strong> ${history.doctorNotes || "None"}</p>
                    <p><strong>Patient Notes:</strong> ${history.patientNotes || "None"}</p>
                    <p><strong>History Status:</strong> ${history.historyStatus || "N/A"}</p>
                    <p><strong>Medication Changes:</strong> ${history.medicationChanges || "None"}</p>
                    <hr>
                </div>
            `
                )
                .join("");
        } catch (error) {
            console.error("Error fetching medical history:", error);
            const profileContainer = document.querySelector(".card-profile .text-center");
            profileContainer.innerHTML = `<h3>Error loading medical history.</h3>`;
        }
    });

    document.getElementById("medical-status-form").addEventListener("submit", async (e) => {
        e.preventDefault();

        // Function to get a specific cookie value by its name
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(";").shift();
        }

        // Get patientId and staffId from cookies
        const patientId = getCookie("patientId");
        const staffId = getCookie("id");

        if (!patientId || !staffId) {
            alert("Patient ID or Staff ID not found in cookies.");
            return;
        }

        const todayDate = new Date().toISOString().split("T")[0]; // Today's date in YYYY-MM-DD format

        // Prepare Medical Status Data
        const medicalStatus = {
            patientId: parseInt(patientId, 10),
            allergies: document.getElementById("input-allergies").value,
            pastDiseases: document.getElementById("input-past-diseases").value,
            ongoingMedication: document.getElementById("input-ongoing-medication").value,
            doctorNotes: document.getElementById("input-doctor-notes").value,
            allergyType: document.getElementById("input-allergy-type").value,
            severityOfAllergy: document.getElementById("input-severity-of-allergy").value,
            medicationChanges: document.getElementById("input-medication-changes").value,
            patientNotes: document.getElementById("input-patient-notes").value,
            historyStatus: document.getElementById("input-history-status").value,
            active: document.getElementById("input-active").value === "1",
        };

        // Prepare Prescription Data
        const prescription = {
            patientId: parseInt(patientId, 10),
            staffId: parseInt(staffId, 10),
            issueDate: todayDate,
            medication: document.getElementById("input-medication").value,
            dosage: document.getElementById("input-dosage").value,
            frequency: document.getElementById("input-frequency").value,
            duration: document.getElementById("input-duration").value,
        };

        try {
            // Submit Medical Status
            const medicalStatusResponse = await fetch("/api/medicalhistory/MedicalHistory", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(medicalStatus),
            });

            if (!medicalStatusResponse.ok) {
                throw new Error("Failed to submit medical status.");
            }

            // Submit Prescription
            const prescriptionResponse = await fetch("/prescriptions", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(prescription),
            });

            if (!prescriptionResponse.ok) {
                throw new Error("Failed to submit prescription.");
            }

            alert("Medical status and prescription submitted successfully!");
            document.getElementById("medical-status-form").reset();
            window.location.href = '/medical-history';
        } catch (error) {
            console.error("Error:", error);
            alert("An error occurred while submitting the data.");
        }
    });



</script>

</body>

</html>