<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Register
    </title>
    <!-- Favicon -->
    <link href="/img/brand/favicon.png" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
    <link href="/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="/css/argon-dashboard.css?v=1.1.2" rel="stylesheet" />
</head>

<body class="bg-default">
<div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
        <div class="container px-4">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-collapse-main">
                <!-- Collapse header -->
                <div class="navbar-collapse-header d-md-none">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="../index.html">
                                <img src="/img/brand/blue.png">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Navbar items -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="/login">
                            <i class="ni ni-circle-08"></i>
                            <span class="nav-link-inner--text">Login</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8">
        <div class="container">
            <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-6">
                        <h1 class="text-white">Welcome!</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
        <!-- Table -->
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="card bg-secondary shadow border-0">
<!--                    <div class="card-header bg-transparent pb-5">-->
<!--                        <div class="text-muted text-center mt-2 mb-4"><small>Sign up with</small></div>-->
<!--                        <div class="text-center">-->
<!--                            <a href="#" class="btn btn-neutral btn-icon mr-4">-->
<!--                                <span class="btn-inner&#45;&#45;icon"><img src="/img/icons/common/github.svg"></span>-->
<!--                                <span class="btn-inner&#45;&#45;text">Github</span>-->
<!--                            </a>-->
<!--                            <a href="#" class="btn btn-neutral btn-icon">-->
<!--                                <span class="btn-inner&#45;&#45;icon"><img src="/img/icons/common/google.svg"></span>-->
<!--                                <span class="btn-inner&#45;&#45;text">Google</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="card-body px-lg-5 py-lg-5">
<!--                        <div class="text-center text-muted mb-4">-->
<!--                            <small>Or sign up with credentials</small>-->
<!--                        </div>-->
                        <form role="form">
                            <h1 class="text">Register</h1>
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="First Name" type="text" name="first_name" id="first_name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Middle Name" type="text" name="middle_name" id="middle_name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Last Name" type="text" name="last_name" id="last_name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-briefcase-24"></i></span>
                                    </div>
                                    <select class="form-control" name="gender" id="gender" required>
                                        <option value="">Select Gender</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Date Of Birth" type="date" name="dob" id="dob" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Username" type="text" name="username" id="username" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Email" type="email" name="email" id="email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Password" type="password" name="password" id="password" required>
                                </div>
                            </div>
<!--                            <div class="text-muted font-italic"><small>password strength: <span class="text-success font-weight-700">strong</span></small></div>-->
                            <div class="row my-4">
                                <div class="col-12">
                                    <div class="custom-control custom-control-alternative custom-checkbox">
                                        <input class="custom-control-input" id="customCheckRegister" type="checkbox" required>
                                        <label class="custom-control-label" for="customCheckRegister">
                                            <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary mt-4">Create account</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="py-5">
    <div class="container">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6">
                <div class="copyright text-center text-xl-left text-muted">
                    © 2024 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">OOD Group-10</a>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<!--   Core   -->
<script src="/js/plugins/jquery/dist/jquery.min.js"></script>
<script src="/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!--   Optional JS   -->
<!--   Argon JS   -->
<script src="/js/argon-dashboard.min.js?v=1.1.2"></script>
<script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
<script>
    window.TrackJS &&
    TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "argon-dashboard-free"
    });
</script>

<script>
    // Function to generate a unique medical record number
    function generateMedicalRecordNo(firstName, lastName, dob) {
        const firstThree = firstName.slice(0, 3).toUpperCase(); // First 3 characters of firstName
        const fourthChar = lastName.charAt(0).toUpperCase();   // First character of lastName
        const lastTwo = dob.split("-")[2];                    // Day from DOB
        return `${firstThree}${fourthChar}${lastTwo}`;
    }

    // Function to handle form submission
    async function createAccount() {
        // Get form data
        const firstName = document.getElementById("first_name").value;
        const middleName = document.getElementById("middle_name").value;
        const lastName = document.getElementById("last_name").value;
        const dob = document.getElementById("dob").value;
        const gender = document.getElementById("gender").value;
        const username = document.getElementById("username").value;
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;

        // Validate required fields
        if (!firstName || !lastName || !dob || !gender || !username || !email || !password) {
            alert("Please fill out all required fields.");
            return;
        }

        // Generate medical record number
        const medicalRecordNo = generateMedicalRecordNo(firstName, lastName, dob);

        // Prepare request payload
        const payload = {
            firstName: firstName,
            middleName: middleName,
            lastName: lastName,
            dob: dob,
            gender: gender,
            userId: username,
            password: password,
            medicalRecordNo: medicalRecordNo
        };

        try {
            // Send POST request to /api/patient-info
            const response = await fetch("/api/patient-info", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(payload)
            });

            if (response.ok) {
                // Display success alert
                alert("Patient Successfully Registered!");
                // Redirect to the login page
                window.location.href = "/login";
            } else {
                const error = await response.json();
                alert(`Error: ${error.message || "Account creation failed."}`);
            }
        } catch (err) {
            console.error("Error:", err);
            alert("An error occurred while creating the account.");
        }
    }

    // Attach the createAccount function to the button
    document.querySelector(".btn-primary").addEventListener("click", createAccount);
</script>



</body>

</html>